[package]
name = "zero2prod"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "zero2prod"

[dependencies]
axum = "0.8.7"
tokio = { version = "*", features = ["macros", "rt-multi-thread"] }

[dev-dependencies]
reqwest = "0.12.24"
